telebot==0.0.3
pyTelegramBotAPI==3.6.7
python-telegram-bot
lxml==4.5.0
apiai==1.2.3
matplotlib
multipledispatch==0.6.0
webdriver-manager==2.3.0
selenium==3.141.0
Flask
Flask-SSLify==0.1.5
tinydb==3.15.2
schedule==0.6.0
overload
systools
pandas